<% include partials/top %>

<div class="container">
  
  <h1 class="text-center"><%= category %></h1>

  <% articles.forEach(article => { %>

    <div id="card">
      
      <div class="card-body">
        
        <img src="<%= article.urlToImage %>" class="card-img-top mb-3">
        <h5><%= article.title %></h5>
        <p><%= article.content %></p>
        <div class="row">
          <a class="col" href="<%= article.url %>">Read More...</a>
          <a class="col text-right" href="<%= article.url %>"><%= article.source.name %></a>
        </div>

      </div>

    </div>    

  <% }) %>

</div>

<% include partials/bottom %>
